cellpose==3.1.0
colorama==0.4.6
fastremap==1.18.0
filelock==3.25.2
fsspec==2026.3.0
imagecodecs==2026.3.6
ImageIO==2.37.3
Jinja2==3.1.6
lazy-loader==0.5
llvmlite==0.47.0
MarkupSafe==3.0.3
mpmath==1.3.0
natsort==8.4.0
networkx==3.6.1
numba==0.65.0
numpy==2.0.2
opencv-python-headless==4.13.0.92
packaging==26.0
pillow==12.2.0
pyqtgraph==0.14.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
roifile==2026.2.10
scikit-image==0.26.0
scipy==1.15.3
setuptools==81.0.0
shiboken6==6.11.0
sympy==1.14.0
tifffile==2023.7.4
torch==2.11.0
tqdm==4.67.3
typing_extensions==4.15.0
wheel==0.46.3
